<%# 登録 %>
  <div class="container">
    <%= form_with model: @interview, url: selection_interviews_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class="form-row ">

        <div class="col">
          <%= f.date_field :interview_day, value: Time.now.strftime("%Y-%m-%d"), class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_field :charge, placeholder:"担当者名", maxlength:"30", class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_area :memo, placeholder:"メモ", class: "form-control" %>
        </div>

        <div class="col">
          <%= f.submit "登録" ,class: "form-control btn btn-primary" %>
        </div>

      </div>
    </div>
    <% end %>
  </div>