<body>


  <%# ヘッダー %>
  <div class="container mb-4 border-dark border-bottom">
    <ul class="nav">
      <li class="nav-item nav-link" style="width:20%">
        <%= link_to "Tenkatu_app", root_path, class:"text-body font-weight-bold"  %>
      </li>
      <li class="nav-item nav-link" style="width:40%">
        <h6>選考詳細編集</h6>
      </li>
      <li class="nav-item nav-link" style="width:15%%">
        ユーザー：<%= current_user.name %>
      </li>
      <li class="nav-item text-right" style="width:15%">
        <%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>



  <%# 登録 %>
  <div class="container">
      <div class="col text-right">
        <%= link_to "戻る", selection_path(params[:id]), class:"btn btn-link text-right" %>
    </div>
    <%= form_with model: @selection, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
    <div class="form-group">
      <div class="col">
        <div class="form-check form-check-inline">
          <%= f.radio_button :live_flg, true, class: "form-check-input", id: "inlineRadio1" %>
          <label class="form-check-label" for="inlineRadio1">選考中</label>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :live_flg, false, class: "form-check-input", id: "inlineRadio2" %>
          <label class="form-check-label" for="inlineRadio2">落選</label>
        </div>
      </div>


      <div class="col input-group">
        <label class="input-group-text" for="phaseSelect">フェーズ:</label>
        <%= f.collection_select(:phase_id, Phase.all, :id, :name, {}, class: "form-control", id:"phaseSelect")%>
      </div>


      <div class="col input-group">
        <label class="input-group-text" for="company_nameInput">企業名:</label>
        <%= f.text_field :company_name, placeholder:"企業名", maxlength:"30", class: "form-control ", id:"company_nameInput" %>
      </div>


      <div class="col input-group">
        <label class="input-group-text" for="positionInput">職種:</label>
        <%= f.text_field :position, placeholder:"職種", maxlength:"30", class: "form-control", id:"positionInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="urlInput">URL:</label>
        <%= f.text_field :url, placeholder:"URL", class: "form-control ", id:"urlInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="placeInput">場所:</label>
        <%= f.text_field :place, placeholder:"場所", maxlength:"30", class: "form-control ", id:"placeInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="summallyInput">要約:</label>
        <%= f.text_area :sumally, placeholder:"要約", class: "form-control", rows:"3", id:"summallyInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="appealInput">良い点:</label>
        <%= f.text_area :appeal, placeholder:"良い点", class: "form-control", rows:"3", id:"appealInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="concernInput">懸念点:</label>
        <%= f.text_area :concern, placeholder:"懸念点", class: "form-control", rows:"3", id:"concernInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="memoInput">メモ:</label>
        <%= f.text_area :memo, placeholder:"メモ", class: "form-control", rows:"3", id:"memoInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="refusal_reasonInput">落選理由:</label>
        <%= f.text_area :refusal_reason, placeholder:"落選理由", class: "form-control", rows:"3", id:"refusal_reasonInput" %>
      </div>

      <div class="col input-group">
        <label class="input-group-text" for="agentInput">エージェント:</label>
        <%= f.text_field :agent, placeholder:"エージェント", maxlength:"20", class: "form-control", id:"agentInput" %>
      </div>

      <div class="col-4 input-group">
        <label class="input-group-text" for="entry_dayInput">エントリー日:</label>
        <%= f.date_field :entry_day, class: "form-control ", id:"entry_dayInput" %>
      </div>

      <div class="col input-group mt-2">
        <%= f.submit "登録" ,class: "form-control btn btn-primary" %>
      </div>
    </div>

    <% end %>
  </div>
</body>