
<%# ヘッダー %>
<div class="container mb-4 border-dark border-bottom">
  <ul class="nav">
    <li class="nav-item nav-link" style="width:70%">
      <b>Tenkatu_app</b>
    </li>
    <li class="nav-item nav-link" style="width:15%%">
      ユーザー：<%= current_user.name %>
    </li>
    <li class="nav-item text-right" style="width:15%">
      <%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "nav-link" %>
    </li>
  </ul>
</div>

<%# 簡易登録 %>
  <div class="container">
    <%= form_with model: @selection, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class="form-row ">

        <div class="col">
          <%= f.text_field :company_name, placeholder:"会社名", maxlength:"30", class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_field :position, placeholder:"職種", maxlength:"30", class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_field :agent, placeholder:"エージェント", maxlength:"20", class: "form-control " %>
        </div>

        <div class="col">
          <%= f.date_field :entry_day, value: Time.now.strftime("%Y-%m-%d"), class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_field :memo, placeholder:"メモ", class: "form-control" %>
        </div>

        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">フェーズ</label>
            </div>
            <%= f.collection_select(:phase_id, Phase.all, :id, :name, {}, class: "form-control")%>
          </div>
        </div>
        
        <div class="col">
          <%= f.submit "登録" ,class: "form-control btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<%# 一覧表示 %>
    <div class="container ">
    <table class="table table-condensed table-hover">
      <thead class="thead-light">
        <tr>
          <th style="width:13%">フェーズ</th>     <%# 1 %>
          <th style="width:21%">エージェント</th> <%# 2 %>
          <th style="width:13%">社名</th>        <%# 3 %>
          <th style="width:13%">職種</th>        <%# 4 %>
          <th style="width:15%">エントリー日</th>  <%# 5 %>
          <th style="width:9%">リンク</th>        <%# 6 %>
          <th style="width:10%">メモ</th>         <%# 7 %>
        </tr>
      </thead>
      <% @selections.each do |selection| %>
      <tbody>
        <tr>
          <td><%= selection.phase.name %></td>
          <td><%= selection.agent %></td>
          <td><%= selection.company_name %></td>
          <td><%= selection.position %></td>
          <td><%= selection.entry_day %></td>
          <td>リンク</td>
          <td><%= selection.memo %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
