<body>

  <%# ヘッダー %>
  <div class="container mb-4 border-dark border-bottom">
    <ul class="nav">
      <li class="nav-item nav-link" style="width:70%">
        <%= link_to "Tenkatu_app", root_path, class:"text-body font-weight-bold"  %>
      </li>
      <li class="nav-item nav-link" style="width:15%%">
        ユーザー：<%= current_user.name %>
      </li>
      <li class="nav-item text-right" style="width:15%">
        <%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>

  <%# 簡易登録 %>
  <div class="container  mb-4">
    <%= form_with model: @selection, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group ">
      <div class="form-row ">

        <div class="col">
          <%= f.text_field :company_name, placeholder:"企業名", maxlength:"30", class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_field :position, placeholder:"職種", maxlength:"30", class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_field :agent, placeholder:"エージェント", maxlength:"20", class: "form-control " %>
        </div>

        <div class="col">
          <%= f.date_field :entry_day, value: Time.now.strftime("%Y-%m-%d"), class: "form-control " %>
        </div>

        <div class="col">
          <%= f.text_field :memo, placeholder:"メモ", class: "form-control" %>
        </div>

        <div class="col">
          <%= f.collection_select(:phase_id, Phase.all, :id, :name, {}, class: "form-control")%>
        </div>

        <div class="col">
          <%= f.submit "登録" ,class: "form-control btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>


  <div class="container focus">
    <%= form_with url: root_path, method: :GET, local: true do |f| %>
    <div class="form-group">
      <div class="form-row">
        <div class="col-1 d-flex align-items-center">
          <span class="strong">絞り込み：</span>
        </div>
        <div class="col-2">
          <%= f.select :live_search, {"全て": "all", "選考中": 1, "落選": 0}, {},class: "form-control" %>
        </div>
        <div class="col-2">
          <%= f.select :phase_search, {"全て": "all", "応募": 0, "書類選考": 1, "試験": 2, "一次面接": 3, 
                                   "二次面接": 4, "最終面接": 5, "その他": 6}, {}, class: "form-control" %>
        </div>
        <div class="col-1">
          <%= f.submit "検索" ,class: "form-control btn btn-info" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# 一覧表示 条件掲示 %>
  <div class="container focus">
    <div class="form-group">
      <div class="form-row ">
        <div class="col-2">
          <span class="strong">現在の表示条件</span>
        </div>
        <div class="col-2">
          状況: <span class="strong"><%= @live_search %></span>
        </div>
        <div class="col-2">
          フェーズ:<span class="strong"><%= @phase_search %></span>
        </div>
      </div>
    </div>
  </div>



  <%# 一覧表示 %>
  <div class="container ">
    <table class="table table-condensed table-hover">
      <thead class="thead-light">
        <tr>
          <th style="width:10%">フェーズ</th> <%# 1 %>
          <th style="width:25%">企業名・職種</th> <%# 2 %>
          <th style="width:15%">エージェント</th> <%# 3 %>
          <th style="width:15%">エントリー日</th> <%# 4 %>
          <th style="width:7%">リンク</th> <%# 5 %>
          <th style="width:8%">要約等</th> <%# 6 %>
          <th style="width:20%">メモ</th> <%# 7 %>

        </tr>
      </thead>
      <% @selections.each do |selection| %>
      <tbody>
        <% if selection.live_flg %>
          <tr>
        <% else %>
          <tr class="table-dark">
        <% end %>
          <td><%= selection.phase.name %></td> <%# 1 フェーズ%>
          <td><%# 2 企業名・職種%>
            <%= link_to selection_path(selection.id) do %>
              <%= selection.company_name %>：<%= selection.position %>
            <% end %>
          </td> <%# /2 企業名・職種%>
          <td><%= selection.agent %></td> <%# 3 エージェント%>
          <td><%= selection.entry_day %></td> <%# 4 エントリー日%>
          <td><%# 5 リンク%>
            <% unless selection.url.blank? %>
              <%= link_to(selection.url, target: :_blank, rel: "noopener noreferrer") do %>
                <i class="fas fa-link"></i>
              <% end %>
            <% end %>
          </td> <%# 5 /リンク%>
          <td class="sumally-column"><%# 6 要約等%>
            <% sumally_class_arr=["info-circle","laugh-beam","frown"] %>
            <% [selection.sumally, selection.appeal, selection.concern].each_with_index do |text,num|%>

              <% sumally_class = "fas fa-" + sumally_class_arr[num] +" icon" %>

              <% unless text.blank? %>
                <%= content_tag( :i ,"",class:sumally_class) %>
                <p class="fukidashi"><%= text %></p>
              <% else %>
                <i class="fas fa-border-none"></i>
              <% end %>
            <% end %>
          </td> <%# /6 要約等%>
          <td><%= selection.memo %></td> <%# 7 メモ%>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</body>